* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #151e96;
    --secondary-color: #03dffc;
    --third-color:#2a607c
}

/* Body Font and Color */
body {
    font-family: Helvetica, Arial, 'sans-serif';
    color: var(--primary-color);
}

header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
    background-color: #2a607c;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: #ffffff;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,1.0);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header nav ul li a:hover {
    color: var(--primary-color);
    text-shadow: none;
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Family Photo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.hero h2 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0,0,0,1.0);
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom: 6px double;
}

.section-title {
    padding-bottom: 0px;
    margin: 0 auto 0 auto;
    width: 70%;
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 3px solid;
}

.flex-box {
    display: flex;
    margin: 0;
    padding: 0;
}

.side-titles {
    float: left;
    width: 300px;
    height: 200px;
    align-items: center;
}

/* About Me Sidebar and About Me Text */
#about-me {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

#about-me h2 {
    text-align: right;
    padding-right: 10px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
}

.about p {
    font-size: 1.65vw;
    line-height: 1.65em;
}
/* My Work Side Bar*/
#my-work {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

}

#my-work h2 {
    height: 100px;
    text-align: right;
    justify-content: center;
    padding-right: 10px;
}

/* Contact Me Sidebar */
#contact-me {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

}

#contact-me h2 {
    text-align: right;
    padding-right: 10px;
}

#contact-me ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

#contact-me ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.55vw;
    border-bottom: ridge;
}

/* Work Grid */
.work-grid-container {
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns:repeat(9, 1fr);
    grid-template-rows:repeat(6, 1fr);
    color: var(--secondary-color);
    font-size: 1.2rem;
    row-gap: 10px;
    column-gap: 10px;
}

/* Work Options Begin */
.run {
    background-image: url("../images/runbuddy.png");
    background-size: cover;
    background-position: center;
    grid-row: 1 / span 3;
    grid-column: 1 / span 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: var(--secondary-color);
}

.horiseon {
    background-image: url("../images/horiseon.png");
    background-size: cover;
    background-position: center;
    grid-row: 1 / span 2;
    grid-column: 6 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    text-decoration: none;
    color: var(--secondary-color);
}

.pastel {
    background-image: url("../images/Pastel.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 3 / span 4;
    grid-column: 6 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: var(--secondary-color);
}

.calculator {
    background-image: url("../images/Calculator.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: var(--secondary-color);
}

.led {
    background-image: url("../images/LED.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: var(--secondary-color);
}

/* Grid Boxes/Text/Border, Universal */
h4 {
    font-size: 15px;
}

.grid-text {
    margin-bottom: 20px;
    background-color: var(--third-color);
}

.grid-item {
    border: 10px solid var(--third-color);
}

.grid-item:hover {
    opacity: .8 ;
}

/* Media Queries Start */
